# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Local development settings
instance/
.webassets-cache
